*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

#header {
    height: 46.5px;
    background-color: chartreuse;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color:navy;
    text-transform: uppercase;
    font-weight: 900;
}
#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0px 24px;
    display: block;
}
#nav > li:hover > a{
    color: black;
    background-color: chocolate;
}

#content-container{
    display: flex;
    overflow-x: auto;
    /* white-space: nowrap; */
    width: 64vw;
}

#content{
    width: 30vw;
    /* max-width: 100%; */
    height: 600px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    margin-right: 20px;
    flex-shrink: 0;
    margin-right: 2vw;
}

#content .header {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.content-image img{
    width: 50%;
    height: 3,00px;
    /* border-radius: 50%; */
    margin-bottom: 10px;
}

.content-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 55px;
}

.content-desc p {
    color: green;
    text-align: center;
}